<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624283958573-37m5j1hb9tp30kgdjpvi9aquaj5l1vh4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624283958573-37m5j1hb9tp30kgdjpvi9aquaj5l1vh4</string>
	<key>API_KEY</key>
	<string>AIzaSyDIxzkovHjjmbSAmbPoN-CZfL-tTUbWLTk</string>
	<key>GCM_SENDER_ID</key>
	<string>624283958573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fire3Application1</string>
	<key>PROJECT_ID</key>
	<string>ecommercegsg-9cd01</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommercegsg-9cd01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624283958573:ios:414399378c8d18c8c127a4</string>
</dict>
</plist>